.logo {
    width: 1.5%;
    height: 1.5%;
    margin-right: 10px;
}

body {
    padding-top: 70px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
}